@media only screen and (min-width: 1200px) {
  .whattodo_bg_img {
    background-image: url("../img/whatwedo.png");
    background-repeat: no-repeat;
    background-position: top 10% center; } }

.whattodo__container {
  max-width: 1225px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0 5px 0;
  text-align: center; }
  @media only screen and (min-width: 1024px) {
    .whattodo__container {
      padding: 50px 0 45px 0; } }
  @media only screen and (min-width: 1200px) {
    .whattodo__container {
      padding: 175px 0 115px 0; } }

.whattodo__leftbox {
  max-width: 527px;
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 15px 20px 40px 20px; }
  @media only screen and (min-width: 1200px) {
    .whattodo__leftbox {
      padding: 15px 0px 0 0px; } }

.whattodo__img {
  -webkit-box-shadow: 0px 10px 72px 3px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 10px 72px 3px rgba(0, 0, 0, 0.27); }
  .whattodo__img img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: -7px; }

.whattodo__rightbox {
  display: inline-block;
  text-align: center;
  vertical-align: top; }
  @media only screen and (min-width: 1200px) {
    .whattodo__rightbox {
      padding-left: 120px;
      text-align: left;
      max-width: 625px;
      width: 100%; } }

.whattodo__topcaption {
  text-align: center;
  font-family: "SegoeUISemiBold";
  padding-bottom: 30px;
  padding-top: 40px;
  font-size: 24px; }
  @media only screen and (min-width: 1024px) {
    .whattodo__topcaption {
      padding-bottom: 30px;
      font-size: 36px; } }
  @media only screen and (min-width: 1200px) {
    .whattodo__topcaption {
      text-align: left;
      padding-bottom: 50px;
      padding-top: 0; } }

.whattodo__txtbox {
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  z-index: 10;
  padding: 40px 20px 40px 20px; }
  @media only screen and (min-width: 1024px) {
    .whattodo__txtbox {
      display: inline-block;
      max-width: 370px;
      width: 100%;
      margin: 0 40px; } }
  @media only screen and (min-width: 1200px) {
    .whattodo__txtbox {
      background-repeat: no-repeat;
      background-position: left top;
      padding: 0 0 33px 49px;
      display: block;
      max-width: unset;
      margin: 0px; }
      .whattodo__txtbox:after {
        content: "";
        position: absolute;
        top: 31px;
        left: 16px;
        width: 2px;
        height: 72%;
        background-color: #673a90;
        z-index: 1; } }

.whattodo__txtbox_bg1 {
  background-image: url("../img/what1.png"); }

.whattodo__txtbox_bg2 {
  background-image: url("../img/what2.png"); }

.whattodo__txtbox_bg3 {
  background-image: url("../img/what3.png"); }

.whattodo__txtbox_bg4 {
  background-image: url("../img/what4.png"); }
  .whattodo__txtbox_bg4:after {
    content: "";
    width: 0px;
    height: 0%;
    background-color: transparent; }

.whattodo__txtbox_caption {
  font-size: 14px;
  color: #121212;
  font-family: "SegoeUISemiBold";
  text-transform: uppercase;
  padding-bottom: 7px; }
  @media only screen and (min-width: 1024px) {
    .whattodo__txtbox_caption {
      font-size: 16px; } }

.whattodo__text {
  font-size: 14px;
  color: #121212;
  font-family: "SegoeUIRegular"; }
  @media only screen and (min-width: 1024px) {
    .whattodo__text {
      font-size: 16px;
      display: inline-block; } }

.whattodo__leftbox {
  position: relative; }
  .whattodo__leftbox .df-left, .whattodo__leftbox .df-right {
    position: absolute;
    bottom: -55px;
    width: 40px;
    height: 40px; }
    @media only screen and (min-width: 1024px) {
      .whattodo__leftbox .df-left, .whattodo__leftbox .df-right {
        bottom: -50px; } }
    @media only screen and (min-width: 1200px) {
      .whattodo__leftbox .df-left, .whattodo__leftbox .df-right {
        bottom: -85px; } }
  .whattodo__leftbox .df-left {
    background-image: url("../img/sliderprev2.png");
    background-repeat: no-repeat;
    background-position: left center;
    left: 20%; }
    .whattodo__leftbox .df-left:hover {
      background-image: url("../img/sliderprevhover.png"); }
    @media only screen and (min-width: 1024px) {
      .whattodo__leftbox .df-left {
        left: 20%; } }
    @media only screen and (min-width: 1200px) {
      .whattodo__leftbox .df-left {
        left: 30%;
        bottom: -50px; } }
  .whattodo__leftbox .df-right {
    background-image: url("../img/slidernext2.png");
    background-repeat: no-repeat;
    background-position: right center;
    right: 20%; }
    .whattodo__leftbox .df-right:hover {
      background-image: url("../img/slidernexthover.png"); }
    @media only screen and (min-width: 1024px) {
      .whattodo__leftbox .df-right {
        right: 20%; } }
    @media only screen and (min-width: 1200px) {
      .whattodo__leftbox .df-right {
        right: 30%;
        bottom: -50px; } }
  .whattodo__leftbox .command__counter {
    width: 70px;
    text-align: center;
    font-size: 16px;
    color: #000;
    line-height: 22px;
    font-family: "SegoeUIRegular";
    position: absolute;
    bottom: -7px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    @media only screen and (min-width: 1024px) {
      .whattodo__leftbox .command__counter {
        bottom: 0px;
        left: 50%; } }
    @media only screen and (min-width: 1200px) {
      .whattodo__leftbox .command__counter {
        bottom: -40px;
        left: 50%; } }

/*==================command============*/
.command_bg_color {
  background-color: #1c1c1c;
  padding: 40px 0px 100px 0; }
  @media only screen and (min-width: 1024px) {
    .command_bg_color {
      padding: 75px 0px 90px 0; } }
  @media only screen and (min-width: 1200px) {
    .command_bg_color {
      background-image: url("../img/commandbg.png");
      background-repeat: no-repeat;
      background-position: top 10% center;
      padding: 215px 0px 240px 0; } }

.command__container {
  max-width: 1195px;
  margin: 0 auto;
  padding: 0 15px; }

.command__textbox {
  max-width: 515px;
  width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 1024px) {
    .command__textbox {
      float: right;
      max-width: 400px; } }
  @media only screen and (min-width: 1200px) {
    .command__textbox {
      max-width: 507px;
      padding-top: 55px; } }

.command__topcaption {
  padding-bottom: 22px; }
  @media only screen and (min-width: 1024px) {
    .command__topcaption {
      padding-bottom: 40px;
      line-height: inherit; } }
  @media only screen and (min-width: 1200px) {
    .command__topcaption {
      padding-bottom: 22px;
      line-height: 67px; } }

.command__text {
  font-family: "SegoeUIRegular";
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  padding-bottom: 22px;
  padding-left: 5px; }

.command__slider {
  max-width: 530px;
  width: 100%;
  margin: 0 auto;
  position: relative; }
  @media only screen and (min-width: 1024px) {
    .command__slider {
      float: left; } }

.command__slider_img {
  display: block; }
  .command__slider_img img {
    max-width: 100%;
    height: auto; }

.command__container .df-left, .command__container .df-right {
  position: absolute;
  bottom: -70px;
  width: 40px;
  height: 40px; }
  @media only screen and (min-width: 1024px) {
    .command__container .df-left, .command__container .df-right {
      bottom: 10px; } }
  @media only screen and (min-width: 1200px) {
    .command__container .df-left, .command__container .df-right {
      bottom: -85px; } }

.command__container .df-left {
  background-image: url("../img/sliderprev.png");
  background-repeat: no-repeat;
  background-position: left center;
  left: 20%; }
  .command__container .df-left:hover {
    background-image: url("../img/sliderprevhover.png"); }
  @media only screen and (min-width: 1024px) {
    .command__container .df-left {
      left: unset;
      right: -20%; } }
  @media only screen and (min-width: 1200px) {
    .command__container .df-left {
      left: 30%;
      right: unset; } }

.command__container .df-right {
  background-image: url("../img/slidernext.png");
  background-repeat: no-repeat;
  background-position: right center;
  right: 20%; }
  .command__container .df-right:hover {
    background-image: url("../img/slidernexthover.png"); }
  @media only screen and (min-width: 1024px) {
    .command__container .df-right {
      right: -45%; } }
  @media only screen and (min-width: 1200px) {
    .command__container .df-right {
      right: 35%; } }

.command__container .command__counter {
  width: 70px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  line-height: 22px;
  font-family: "SegoeUIRegular";
  position: absolute;
  bottom: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  @media only screen and (min-width: 1024px) {
    .command__container .command__counter {
      bottom: 19px;
      left: 128%; } }
  @media only screen and (min-width: 1200px) {
    .command__container .command__counter {
      bottom: -75px;
      left: 47%; } }

/*============online======*/
.button_order {
  background-color: #fff;
  color: #673a90;
  border: 2px solid #673a90;
  padding: 7px 10px;
  width: 170px;
  text-align: center; }
  .button_order:hover {
    background-color: #673a90;
    color: #fff; }

@media only screen and (min-width: 1200px) {
  .online_bg_img {
    background-image: url("../img/onlinebg.png");
    background-repeat: no-repeat;
    background-position: bottom 38% center; } }

.online__container {
  max-width: 1225px;
  margin: 0 auto;
  padding: 45px 15px 70px 15px; }
  @media only screen and (min-width: 1024px) {
    .online__container {
      padding: 70px 15px 85px 15px; } }
  @media only screen and (min-width: 1200px) {
    .online__container {
      padding: 140px 15px 130px 15px; } }

.online__topcaption {
  padding-bottom: 30px;
  text-align: center; }
  @media only screen and (min-width: 1024px) {
    .online__topcaption {
      padding-bottom: 70px; } }
  @media only screen and (min-width: 1200px) {
    .online__topcaption {
      padding-bottom: 104px;
      text-align: left; } }

.online__camers {
  text-align: center; }
  @media only screen and (min-width: 1200px) {
    .online__camers {
      text-align: left; } }

.online__cam_box {
  max-width: 288px;
  width: 100%;
  display: inline-block;
  padding: 29px 0 45px 0;
  border: 1px solid #e6e6e6;
  vertical-align: top;
  text-align: center;
  background-color: white;
  margin-right: 10px;
  margin-bottom: 17px;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .online__cam_box:hover {
    border-color: transparent;
    -webkit-box-shadow: 0 35px 59px rgba(0, 0, 0, 0.13);
            box-shadow: 0 35px 59px rgba(0, 0, 0, 0.13); }
  @media only screen and (min-width: 1024px) {
    .online__cam_box {
      width: 23.6%;
      max-width: unset;
      margin-bottom: 0;
      padding: 29px 10px 45px 10px; } }
  @media only screen and (min-width: 1200px) {
    .online__cam_box {
      padding: 29px 0px 45px 0px; }
      .online__cam_box:last-child {
        margin-right: 0; } }

.online__boxcaption {
  color: #121212;
  font-family: "SegoeUISemiBold";
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding-bottom: 2px; }

.online__boxsub {
  font-family: "SegoeUIRegular";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #121212;
  display: block;
  text-align: center;
  min-height: 65px; }

.online__text {
  color: #909090;
  font-family: "SegoeUIRegular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  min-height: 100px; }

.online__pricetext {
  color: #121212;
  line-height: 22px;
  font-family: "SegoeUISemiBold";
  font-size: 16px;
  font-weight: 600;
  display: block;
  text-align: center;
  padding-bottom: 30px; }
  .online__pricetext em {
    font-size: 20px;
    font-weight: 400; }
  .online__pricetext i {
    display: inline-block;
    font-size: 16px; }

.online__textbottom {
  padding-top: 20px; }
  @media only screen and (min-width: 1024px) {
    .online__textbottom {
      margin-top: 47px;
      padding-top: 25px;
      border-top: 1px solid #e2e2e2; } }
  @media only screen and (min-width: 1200px) {
    .online__textbottom {
      margin-top: 97px;
      padding-top: 30px; } }

.online__textbottom_caption {
  font-family: "SegoeUISemiBold";
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #121212; }

.online__textbottom_txt {
  font-family: "SegoeUIRegular";
  font-size: 16px;
  font-weight: 400;
  color: #121212;
  padding: 8px 0 21px 0; }

/*==========innerpage-aero============*/
.price_aero_theme_rosa {
  background-color: #fbfbfb; }

.aero__container__theme_rosa {
  padding: 30px 15px 0px 15px;
  text-align: center; }
  @media only screen and (min-width: 1024px) {
    .aero__container__theme_rosa {
      padding: 50px 15px;
      text-align: left; } }

.price_aero__caption {
  margin-bottom: 25px;
  text-align: center;
  line-height: normal;
  text-transform: none; }
  @media only screen and (min-width: 1024px) {
    .price_aero__caption {
      text-align: left;
      text-transform: uppercase;
      max-width: 710px; } }

.price_aero__text {
  color: #282828;
  font-family: "SegoeUIRegular";
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  max-width: 590px;
  width: 100%;
  text-align: left;
  vertical-align: top;
  padding-bottom: 30px; }
  @media only screen and (min-width: 1024px) {
    .price_aero__text {
      max-width: unset;
      width: 48%;
      margin-right: 35px;
      padding-bottom: 0; }
      .price_aero__text:last-child {
        margin-right: 0; } }

.aero_theme_rosa {
  background-color: #fff; }

.aero__container {
  max-width: 1220px;
  margin: 0 auto; }

.aero__container_theme_rosa {
  padding: 30px 15px 30px 15px;
  text-align: center; }
  @media only screen and (min-width: 1024px) {
    .aero__container_theme_rosa {
      padding: 90px 15px 80px 15px;
      text-align: left; } }

.aero__imgbox {
  max-width: 475px;
  width: 100%;
  display: inline-block;
  vertical-align: top; }
  @media only screen and (min-width: 1024px) {
    .aero__imgbox {
      float: right;
      max-width: unset;
      width: 41%; } }

.aero__img {
  display: block;
  height: 280px;
  overflow: hidden; }
  .aero__img img {
    width: 100%;
    height: 100%; }
    @media only screen and (min-width: 1024px) {
      .aero__img img {
        height: auto; } }

.aero__caption__mobileversion {
  text-align: left;
  color: #673a90;
  font-family: "SegoeUISemiBold";
  font-size: 24px;
  font-weight: 600;
  line-height: 48px; }
  @media only screen and (min-width: 1024px) {
    .aero__caption__mobileversion {
      display: none; } }

.aero__cap_sub {
  color: #282828;
  font-family: "SegoeUISemiBold";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  display: block;
  text-align: left;
  padding-bottom: 24px; }
  @media only screen and (min-width: 1024px) {
    .aero__cap_sub {
      display: none; } }

.aero__txt_sub {
  color: #8c8c8c;
  font-family: "SegoeUIRegular";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  display: block;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 12px; }
  @media only screen and (min-width: 1024px) {
    .aero__txt_sub {
      padding-bottom: 0px; } }

.aero__textbox {
  vertical-align: top;
  max-width: 675px;
  width: 100%;
  display: inline-block;
  padding-right: 25px;
  text-align: left; }
  @media only screen and (min-width: 1024px) {
    .aero__textbox {
      float: left;
      width: 55%;
      max-width: unset; } }

.aero__caption {
  margin-bottom: 30px;
  text-align: center;
  line-height: inherit;
  display: none; }
  @media only screen and (min-width: 1024px) {
    .aero__caption {
      text-align: left;
      margin-bottom: 40px;
      display: block; } }

.aero__txt {
  color: #282828;
  font-family: "SegoeUIRegular";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 20px; }

.foto_job_theme_rosa {
  background-color: #fbfbfb;
  padding: 30px 15px 30px 15px; }
  @media only screen and (min-width: 1024px) {
    .foto_job_theme_rosa {
      padding: 70px 15px 110px 15px; } }

.foto_job__container {
  max-width: 1220px;
  margin: 0 auto;
  text-align: center; }
  .foto_job__container .filming__caption {
    padding-left: 10px; }

.foto_job__img {
  max-width: 385px;
  height: 250px;
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden; }
  .foto_job__img img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto; }
  @media only screen and (min-width: 1024px) {
    .foto_job__img {
      max-width: unset;
      width: 31.5%;
      margin-right: 20px; }
      .foto_job__img:last-child {
        margin-right: 0; } }

.filming__theme_rosa {
  padding: 30px 0 90px 0;
  background-color: #ffffff; }
  @media only screen and (min-width: 1024px) {
    .filming__theme_rosa {
      padding: 50px 0 105px 0; } }

.filming__caption {
  margin-bottom: 25px;
  text-align: center;
  text-transform: none; }
  @media only screen and (min-width: 1024px) {
    .filming__caption {
      margin-bottom: 50px;
      text-align: left;
      text-transform: uppercase; } }

.filming__slider {
  max-width: 715px;
  width: 100%;
  margin: 0 auto; }

.filming___img {
  width: 100%; }
  .filming___img img {
    max-width: 100%;
    height: auto;
    width: 100%; }

.filming__textbottom {
  text-align: center;
  color: #8c8c8c;
  font-family: "SegoeUIRegular";
  font-size: 14px;
  line-height: 18px;
  margin: 12px 0 10px 0; }

.filming__theme_rosa {
  position: relative; }
  .filming__theme_rosa .df-left, .filming__theme_rosa .df-right {
    position: absolute;
    bottom: -107px;
    width: 40px;
    height: 40px; }
    @media only screen and (min-width: 1024px) {
      .filming__theme_rosa .df-left, .filming__theme_rosa .df-right {
        bottom: -105px; } }
    @media only screen and (min-width: 1200px) {
      .filming__theme_rosa .df-left, .filming__theme_rosa .df-right {
        bottom: -85px; } }
  .filming__theme_rosa .df-left {
    background-image: url("../img/sliderprev2.png");
    background-repeat: no-repeat;
    background-position: left center;
    left: 20%; }
    .filming__theme_rosa .df-left:hover {
      background-image: url("../img/sliderprevhover.png"); }
    @media only screen and (min-width: 1024px) {
      .filming__theme_rosa .df-left {
        left: 37%; } }
  .filming__theme_rosa .df-right {
    background-image: url("../img/slidernext2.png");
    background-repeat: no-repeat;
    background-position: right center;
    right: 20%; }
    .filming__theme_rosa .df-right:hover {
      background-image: url("../img/slidernexthover.png"); }
    @media only screen and (min-width: 1024px) {
      .filming__theme_rosa .df-right {
        right: 37%; } }
    @media only screen and (min-width: 1200px) {
      .filming__theme_rosa .df-right {
        right: 37%; } }
  .filming__theme_rosa .command__counter {
    width: 70px;
    text-align: center;
    font-size: 16px;
    color: #333333;
    line-height: 22px;
    font-family: "SegoeUIRegular";
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    @media only screen and (min-width: 1024px) {
      .filming__theme_rosa .command__counter {
        bottom: 50px;
        left: 50%; } }
    @media only screen and (min-width: 1200px) {
      .filming__theme_rosa .command__counter {
        bottom: 70px;
        left: 50%; } }

.video_innerpage {
  background: none;
  background-color: #fbfbfb;
  padding: 30px 0; }
  @media only screen and (min-width: 1024px) {
    .video_innerpage {
      padding: 60px 0;
      background-image: url("../img/videpimg.png");
      background-repeat: no-repeat;
      background-position: top 50% center;
      background-size: unset; } }

.video_innerpage_textbox {
  padding-top: 30px;
  max-width: 880px;
  width: 100%;
  margin: 0 auto; }

.video__textcaption {
  color: #282828;
  font-family: "SegoeUISemiBold";
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding-bottom: 10px; }

.video__text {
  color: #282828;
  font-family: "SegoeUIRegular";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; }

.online__container_innerpage {
  padding: 35px 15px; }
  @media only screen and (min-width: 1024px) {
    .online__container_innerpage {
      padding: 60px 15px; } }

.our__inner_page_mobile {
  background-color: #fbfbfb; }
  @media only screen and (min-width: 992px) {
    .our__inner_page_mobile {
      display: none; } }
