.equipment{
	padding: 125px 0 130px;
	background: url(../img/equipment-bg.jpg) 0 0/cover;
	@media only screen and (max-width : 1000px) {
		padding: 75px 0 125px;
	}
	@media only screen and (max-width : 700px) {
		padding: 18px 0 30px;
		&__button{
			text-align: center;
		}
	}
	&__descr{
		font-size: 23px;
		color: #fff;
		display: block;
		padding: 15px 0 30px;
		line-height: 20px;
		@media only screen and (max-width : 1000px) {
			font-size: 19px;
		}
		@media only screen and (max-width : 700px) {
			font-size: 16px;
			text-align: center;
		}
	}
}
.fast{
	padding: 47px 0 45px;
	@media only screen and (max-width : 991px) {
		padding: 20px 0;
	}
	&__inner{
		position: relative;
	}
	&__triangle{
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 18.5px 21px 18.5px;
		border-color: transparent transparent #efefef transparent;
		left: 15px;
		top: -21px;
		z-index: 100;
		@media only screen and (max-width : 991px) {
		 	top: auto;
	    bottom: -21px;
	    transform: rotate(180deg);
		}
		&::before{
	    content: "";
	    position: absolute;
	    top: 5px;
	    left: -15px;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 0 14.5px 17px 14.5px;
	    border-color: transparent transparent #fff transparent;
	    z-index: 105;
		}
	}
	&__content-wrap{
		padding: 0 35px 0 0;
		@media only screen and (max-width : 991px) {
			padding: 0;
		}
	}
	&__content{
		margin: 40px 0 0;
		border: 4px solid #efefef;
		border-radius: 3px;
		position: relative;
		padding: 15px 35px;
		@media only screen and (max-width : 700px) {
			padding: 10px 18px;
			margin: 20px 0 0;
		}
	}
	&__text{
		font-size: 16px;
		color: #555;
		padding: 15px 0;
		@media only screen and (max-width : 700px) {
			font-size: 15px;
			padding: 10px 0;
			line-height: 20px;
			padding: 10px 16px;
			strong{
				font-family: "GothamProBold";
			}
		}
	}
	.form_for_main_page{
		margin: 40px 0 20px;
		@media only screen and (max-width : 991px) {
			margin: 30px 0 20px;
			max-width: 100%;
			label{
				display: block;
			}
		}
	}
	&__button{
		text-align: center;
		margin-top: 19px;
	}
	button{
		background: none;
	}
	@media only screen and (max-width : 1200px) and (min-width : 991px) {
		.form_for_main_page__left,
		.form_for_main_page__right{
			width: 48%;
		}
	}
}
.contacts{
	padding: 50px 0 0;
	@media only screen and (max-width : 991px) {
		padding: 25px 0 0;
	}
	&__inner{
		padding: 40px 0 0;
		@media only screen and (max-width : 991px) {
			padding: 25px 0 0;
		}
	}
	&__items{
		padding-bottom: 45px;
	}
	.mape{
		margin-bottom: 50px;
		@media only screen and (max-width : 991px) {
			margin-bottom: 25px;
		}
	}
	.form__title{
		color: #484e4c;
		font-size: 34px;
		display: block;
		text-align: center;
		line-height: 1.3;
		@media only screen and (max-width : 1000px) {
			font-size: 18px;
		}
	}
	.form__descr{
		color: #737876;
		font-size: 21px;
		display: block;
		text-align: center;
		line-height: 1.3;
		@media only screen and (max-width : 1000px) {
			font-size: 15px;
		}
	}
	.form_for_inner_page{
		margin: 25px 0 50px;
		@media only screen and (max-width : 991px) {
			margin: 15px 0 25px;
		}
		button{
			background: none;
		}
	}
}