<<<<<<< HEAD
.header-top {
  background: url(../img/header-top.jpg) center/cover; }
  .header-top_inner .top-line {
    margin-bottom: 40px; }
    @media only screen and (max-width: 1200px) {
      .header-top_inner .top-line {
        margin-bottom: 95px; } }
    @media only screen and (max-width: 1000px) {
      .header-top_inner .top-line {
        margin-bottom: 100px; } }

.navigation {
  padding-bottom: 20px; }
  .navigation__item {
    font-size: 18px;
    color: #fff;
    padding: 1px; }
    @media only screen and (max-width: 1000px) {
      .navigation__item {
        font-size: 14px; } }
    .navigation__item_enabled {
      font-family: "SegoeUIBold"; }
    .navigation__item_disabled {
      font-family: "SegoeUIRegular"; }

.top-line {
  padding: 30px 0;
  position: relative; }
  @media only screen and (max-width: 1200px) {
    .top-line {
      background: #000;
      padding: 15px 0; } }
  @media only screen and (max-width: 1000px) {
    .top-line .container {
      position: relative; } }
  .top-line__logo-block {
    float: left; }
  .top-line__right {
    float: right; }
  .top-line__logo {
    width: 42px;
    height: 74px;
    display: block;
    background: url(../img/logo.png) center no-repeat; }
  .top-line__phone {
    float: right;
    padding: 8px;
    z-index: 1000; }
    @media only screen and (max-width: 1200px) and (min-width: 1000px) {
      .top-line__phone {
        padding-top: 25px; }
        .top-line__phone .top-line__btn {
          position: absolute;
          bottom: -65%; } }
    @media only screen and (max-width: 1000px) {
      .top-line__phone {
        position: absolute;
        bottom: -150%;
        right: 15px; } }
  .top-line__number {
    color: #fff;
    font-size: 18px;
    font-family: "SegoeUIRegular";
    display: block;
    text-align: center;
    padding-bottom: 10px; }
    .top-line__number b {
      font-family: "SegoeUISemiBold"; }
  .top-line__btn {
    text-align: center;
    z-index: 1000; }

.menu-wrap {
  float: left;
  font-family: "SegoeUIRegular"; }
  @media only screen and (max-width: 1200px) {
    .menu-wrap {
      padding-top: 15px; } }
  .menu-wrap .menu-button {
    display: none;
    cursor: pointer;
    width: 33px;
    height: 24px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 20px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    @media only screen and (max-width: 1000px) {
      .menu-wrap .menu-button {
        display: block; } }
    .menu-wrap .menu-button__bg {
      position: absolute;
      background: #fff;
      width: 33px;
      height: 3px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      left: 0;
      display: block; }
      .menu-wrap .menu-button__bg_top {
        top: 0; }
      .menu-wrap .menu-button__bg_mid {
        top: 50%;
        margin-top: -1.5px; }
      .menu-wrap .menu-button__bg_bot {
        bottom: 0; }
    .menu-wrap .menu-button.menu-active {
      width: 14px;
      height: 14px;
      top: 19px;
      background: url(../img/close.png) center/cover no-repeat;
      z-index: 10001; }
      .menu-wrap .menu-button.menu-active .menu-button__bg {
        display: none; }
  @media only screen and (max-width: 1000px) {
    .menu-wrap .main-menu {
      display: none;
      background: #fff;
      padding: 45px 10px 20px;
      position: absolute;
      top: -15px;
      left: 0;
      width: 100%;
      z-index: 10000; }
      .menu-wrap .main-menu .point-active {
        display: block; } }
  @media only screen and (min-width: 1000px) {
    .menu-wrap .main-menu .point:hover ul {
      display: block; } }
  .menu-wrap .main-menu > li {
    list-style: none;
    font-size: 14px;
    position: relative;
    display: inline-block; }
    @media only screen and (max-width: 1000px) {
      .menu-wrap .main-menu > li {
        display: none; }
        .menu-wrap .main-menu > li.point-active {
          display: block; } }
    .menu-wrap .main-menu > li:hover > ul {
      display: block; }
    .menu-wrap .main-menu > li > a {
      font-size: 18px;
      color: #fff;
      display: block;
      line-height: 28px;
      padding: 5px 25px;
      position: relative;
      font-family: "SegoeUIRegular";
      border-bottom: 1px solid transparent; }
      @media only screen and (max-width: 1000px) {
        .menu-wrap .main-menu > li > a {
          display: none; } }
    .menu-wrap .main-menu > li ul {
      font-family: "SegoeUISemiBold";
      display: none;
      position: absolute;
      left: 25px;
      top: 100%;
      background: #fff;
      padding: 0 25px 10px;
      width: 310px;
      z-index: 10003; }
      @media only screen and (max-width: 1000px) {
        .menu-wrap .main-menu > li ul {
          display: block;
          left: 0;
          position: relative;
          width: 100%; } }
      @media only screen and (max-width: 400px) {
        .menu-wrap .main-menu > li ul {
          left: 0;
          right: 0;
          width: 100%; } }
      .menu-wrap .main-menu > li ul li {
        list-style: none;
        width: 100%; }
        .menu-wrap .main-menu > li ul li a {
          color: #282828;
          display: block;
          line-height: 23px; }
          .menu-wrap .main-menu > li ul li a span {
            font-size: 16px;
            padding: 10px 0 3px;
            color: #673a90;
            display: block; }
          .menu-wrap .main-menu > li ul li a:hover {
            color: #673a90; }
  .menu-wrap .main-menu > li:first-child {
    display: none; }
    @media only screen and (max-width: 1000px) {
      .menu-wrap .main-menu > li:first-child {
        display: block; } }
    .menu-wrap .main-menu > li:first-child li {
      display: inline-block;
      width: auto; }
      .menu-wrap .main-menu > li:first-child li a {
        font-family: "SegoeUIBold";
        font-size: 16px;
        color: #282828;
        display: inline-block;
        padding: 0px 0 10px;
        margin: 0 8px 4px;
        border-bottom: 1px solid transparent; }
    .menu-wrap .main-menu > li:first-child .mobile-nav-active {
      border-color: #828282; }

.aero-top {
  overflow: hidden;
  position: relative; }
  .aero-top__bg {
    text-transform: uppercase;
    color: rgba(152, 152, 152, 0.04);
    font-size: 195px;
    font-family: "SegoeUIBold";
    display: block;
    position: absolute;
    top: 50%;
    left: 32%;
    z-index: 400;
    letter-spacing: 20px; }
    @media only screen and (max-width: 1200px) {
      .aero-top__bg {
        display: none; } }
  .aero-top .container {
    position: relative; }
    @media only screen and (min-width: 1200px) {
      .aero-top .container {
        min-height: 540px; } }

.aero-top__content {
  padding: 60px 0 140px 15px;
  margin-left: 335px; }
  .aero-top__content h2 {
    text-transform: none !important; }
  .aero-top__content .content__title_mobile {
    display: none; }
  @media only screen and (max-width: 1200px) {
    .aero-top__content {
      margin-left: 0;
      padding: 60px 0 50px; }
      .aero-top__content .content__title_decstop {
        display: none; }
      .aero-top__content .content__title_mobile {
        display: block; } }
  @media only screen and (max-width: 600px) {
    .aero-top__content {
      padding: 30px 0 0px; } }
  .aero-top__content .content__descr {
    color: #282828;
    font-size: 16px;
    display: block;
    padding-bottom: 45px; }
    @media only screen and (max-width: 600px) {
      .aero-top__content .content__descr {
        font-size: 14px;
        padding-bottom: 20px; } }
  .aero-top__content .content__img-wrap {
    z-index: 500;
    float: left;
    width: 50%;
    max-width: 445px;
    margin-bottom: 25px; }
    @media only screen and (max-width: 600px) {
      .aero-top__content .content__img-wrap {
        width: 100%;
        float: none;
        height: auto;
        max-width: none; } }
  .aero-top__content .content__img {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: block; }
  .aero-top__content .content__text-wrap {
    width: 50%;
    padding-left: 35px;
    float: left;
    margin-bottom: 20px; }
    @media only screen and (max-width: 600px) {
      .aero-top__content .content__text-wrap {
        width: 100%;
        float: none;
        padding-left: 0; } }
  .aero-top__content .content__text {
    color: #282828;
    font-size: 16px;
    padding-bottom: 20px;
    line-height: 22px;
    font-family: "SegoeUIRegular"; }
    @media only screen and (max-width: 600px) {
      .aero-top__content .content__text {
        font-size: 14px; }
        .aero-top__content .content__text_last {
          display: none; } }

.top-text .container {
  padding: 170px 15px 220px;
  position: relative; }

.top-text__title {
  font-family: "SegoeUIBold";
  font-size: 54px;
  line-height: 66px;
  color: #fff; }
  @media only screen and (max-width: 1200px) {
    .top-text__title {
      text-align: center; } }
  @media only screen and (max-width: 550px) {
    .top-text__title {
      font-size: 31px;
      line-height: 35px; } }

.top-text__command {
  display: block;
  padding-bottom: 30px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "SegoeUIRegular"; }
  @media only screen and (max-width: 1200px) {
    .top-text__command {
      text-align: center; } }
  @media only screen and (max-width: 550px) {
    .top-text__command {
      font-size: 14px;
      padding-bottom: 10px; } }
  .top-text__command i {
    color: #9852d8; }

.top-text .scroll-icon {
  display: block;
  font-size: 13px;
  position: absolute;
  left: 15px;
  bottom: 40px;
  color: rgba(255, 255, 255, 0.5);
  padding: 5px 0 5px 30px;
  background: url(../img/scroll_ic.png) 0 0 no-repeat; }
  @media only screen and (max-width: 1200px) {
    .top-text .scroll-icon {
      display: none; } }

.video {
  padding: 100px 0 130px;
  background: url(../img/video-bg.jpg) center/cover; }
  @media only screen and (max-width: 1050px) {
    .video {
      padding: 65px 0 55px; } }
  @media only screen and (max-width: 550px) {
    .video {
      padding: 30px 0 15px; } }
  .video__block {
    margin: 0 auto 25px;
    max-width: 880px;
    width: 100%;
    height: 490px; }
    @media only screen and (max-width: 550px) {
      .video__block {
        height: 170px; } }
    .video__block iframe {
      width: 100%;
      display: block;
      height: 100%; }

.fancybox-opened, .fancybox-wrap {
  width: 90% !important;
  max-width: 870px;
  left: 5%; }

.fancybox-inner {
  width: 100% !important; }

.fancybox-skin {
  padding: 0 !important; }

.fancybox-close {
  background: url(../img/close.png);
  width: 14px;
  height: 14px;
  top: 19px;
  right: 19px; }

.modal {
  display: none;
  font-family: "SegoeUIRegular", arial, sans-serif;
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff; }

.modal__thanks {
  padding: 200px 0 155px;
  background: #fff url(../img/popup-star.png) center 125px no-repeat; }
  @media only screen and (max-width: 800px) {
    .modal__thanks {
      padding: 120px 0 50px;
      background-position: center 75px; } }
  .modal__thanks h2 {
    text-align: center; }
  .modal__thanks .modal__descr {
    font-size: 16px;
    color: #282828;
    display: block;
    text-align: center; }
    @media only screen and (max-width: 500px) {
      .modal__thanks .modal__descr i {
        display: inline-block; } }

.modal__form {
  padding: 50px 60px; }
  @media only screen and (max-width: 1000px) {
    .modal__form {
      padding: 10px 15px 20px; } }
  .modal__form .modal__in {
    position: relative;
    float: left; }
  .modal__form .modal__in_left {
    padding-right: 60px;
    width: 420px; }
    @media only screen and (max-width: 1000px) {
      .modal__form .modal__in_left {
        float: none;
        padding: 0;
        margin: 0 auto; }
        .modal__form .modal__in_left::before {
          display: none; } }
    @media only screen and (max-width: 500px) {
      .modal__form .modal__in_left {
        margin: 0;
        width: 100%;
        max-width: 420px; } }
    .modal__form .modal__in_left::before {
      content: "";
      position: absolute;
      top: 3px;
      bottom: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background: #673a90; }
  .modal__form .modal__in_right {
    width: 270px;
    float: right;
    padding: 65px 0 85px 10px;
    border-bottom: 1px solid #bbb; }
    @media only screen and (max-width: 1000px) {
      .modal__form .modal__in_right {
        float: none;
        margin: 0 auto;
        padding: 0 0 10px;
        border-top: 1px solid #bbb;
        max-width: 355px;
        width: 100%;
        text-align: center; } }
    @media only screen and (max-width: 500px) {
      .modal__form .modal__in_right {
        margin: 0; } }
    @media only screen and (max-width: 400px) {
      .modal__form .modal__in_right {
        text-align: left;
        width: 200px; } }
  .modal__form .modal__in-descr {
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    color: #282828; }
    @media only screen and (max-width: 1000px) {
      .modal__form .modal__in-descr {
        padding-top: 9px;
        display: inline-block;
        font-size: 9px; } }
    .modal__form .modal__in-descr_last {
      border-bottom: 1px solid #bbb;
      padding-bottom: 9px;
      margin-bottom: 70px; }
      @media only screen and (max-width: 1000px) {
        .modal__form .modal__in-descr_last {
          margin-bottom: 15px;
          border: none;
          padding-top: 0;
          display: block; } }
  .modal__form .info__title {
    text-transform: uppercase;
    font-size: 12px;
    color: #282828;
    display: block;
    padding-bottom: 8px; }
    @media only screen and (max-width: 1000px) {
      .modal__form .info__title {
        font-size: 9px;
        padding-bottom: 0; } }
  .modal__form .info__number {
    display: block;
    font-size: 24px;
    color: #282828;
    padding-bottom: 20px;
    font-family: "SegoeUIRegular"; }
    @media only screen and (max-width: 1000px) {
      .modal__form .info__number {
        font-size: 17px; } }
  .modal__form h2 {
    text-transform: none;
    font-size: 18px;
    padding-bottom: 35px;
    text-align: left;
    padding-top: 0;
    line-height: 1.3;
    margin: 0 auto;
    max-width: 355px; }
  .modal__form .theme__rosa__form-block {
    display: block; }
  .modal__form .input {
    display: block;
    margin-bottom: 25px; }
    @media only screen and (max-width: 1000px) {
      .modal__form .input {
        margin: 0 auto 16px; } }
    .modal__form .input input {
      font-family: "SegoeUIRegular"; }
    .modal__form .input textarea {
      resize: none;
      width: 100%;
      height: 125px;
      padding: 10px 20px;
      border-color: #a2a2a2;
      outline: none; }
      .modal__form .input textarea:focus {
        border-color: #000; }
  .modal__form .button {
    margin: 7px 0; }
    @media only screen and (max-width: 1000px) {
      .modal__form .button {
        margin: 0 0 30px; } }

.contact {
  padding: 60px 0;
  font-family: "SegoeUISemiBold"; }
  @media only screen and (max-width: 500px) {
    .contact {
      padding: 30px 0 20px; } }
  .contact h2 {
    text-transform: none; }
    @media only screen and (max-width: 500px) {
      .contact h2 {
        text-align: left;
        padding-left: 10px;
        padding-top: 0;
        padding-bottom: 20px; } }
  .contact__inner {
    position: relative; }
  .contact__mape {
    width: 100%;
    max-width: 650px;
    overflow: hidden; }
    .contact__mape_mini {
      display: none; }
    @media only screen and (max-width: 500px) {
      .contact__mape {
        height: 195px; }
        .contact__mape_max {
          display: none; }
        .contact__mape_mini {
          display: block; } }
  .contact .info {
    position: absolute;
    left: 600px;
    top: 68px;
    z-index: 1000;
    padding: 50px 20px 45px 48px;
    background: #fff;
    max-width: 375px;
    width: 100%;
    color: #333;
    font-size: 16px;
    -webkit-box-shadow: 15px 15px 28px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 15px 15px 28px 0px rgba(0, 0, 0, 0.13); }
    @media only screen and (max-width: 1100px) {
      .contact .info {
        left: 540px; } }
    @media only screen and (max-width: 1000px) {
      .contact .info {
        position: relative;
        left: 0;
        top: 0;
        -webkit-box-shadow: none;
                box-shadow: none; } }
    @media only screen and (max-width: 500px) {
      .contact .info {
        padding: 10px 10px 30px 10px; } }
    .contact .info__text {
      display: block; }
      .contact .info__text_title {
        padding-bottom: 20px; }
        @media only screen and (max-width: 500px) {
          .contact .info__text_title {
            padding-bottom: 10px; } }
      .contact .info__text_time {
        padding-bottom: 32px; }
      .contact .info__text_number {
        color: #673a90;
        font-size: 20px;
        padding-bottom: 7px; }
      .contact .info__text_mail {
        padding-bottom: 30px; }
        @media only screen and (max-width: 500px) {
          .contact .info__text_mail {
            padding-bottom: 0px; } }

.our {
  padding: 90px 0; }
  @media only screen and (max-width: 1200px) {
    .our {
      padding: 50px 0; } }

.customer {
  text-align: center; }
  .customer__logo {
    display: inline-block;
    margin: 8px 18px;
    height: 60px;
    text-align: center; }
    @media only screen and (max-width: 500px) {
      .customer__logo {
        margin: 0;
        width: 49%;
        padding: 0px 6px; } }
    .customer__logo img {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      height: auto; }
=======
.header-top { background: url(../img/header-top.jpg) center/cover; }
.header-top_inner .top-line { margin-bottom: 40px; }
@media only screen and (max-width: 1200px) { .header-top_inner .top-line { margin-bottom: 95px; } }
@media only screen and (max-width: 1000px) { .header-top_inner .top-line { margin-bottom: 100px; } }

.navigation { padding-bottom: 20px; }
.navigation__item { font-size: 18px; color: #fff; padding: 1px; }
@media only screen and (max-width: 1000px) { .navigation__item { font-size: 14px; } }
.navigation__item_enabled { font-family: "SegoeUIBold"; }
.navigation__item_disabled { font-family: "SegoeUIRegular"; }

.top-line { padding: 30px 0; position: relative; }
@media only screen and (max-width: 1200px) { .top-line { background: #000; padding: 15px 0; } }
@media only screen and (max-width: 1000px) { .top-line .container { position: relative; } }
.top-line__logo-block { float: left; }
.top-line__right { float: right; }
.top-line__logo { width: 42px; height: 74px; display: block; background: url(../img/logo.png) center no-repeat; }
.top-line__phone { float: right; padding: 8px; z-index: 1000; }
@media only screen and (max-width: 1200px) and (min-width: 1000px) { .top-line__phone { padding-top: 25px; }
  .top-line__phone .top-line__btn { position: absolute; bottom: -65%; } }
@media only screen and (max-width: 1000px) { .top-line__phone { position: absolute; bottom: -150%; right: 15px; } }
.top-line__number { color: #fff; font-size: 18px; font-family: "SegoeUIRegular"; display: block; text-align: center; padding-bottom: 10px; }
.top-line__number b { font-family: "SegoeUISemiBold"; }
.top-line__btn { text-align: center; z-index: 1000; }

.menu-wrap { float: left; font-family: "SegoeUIRegular"; }
@media only screen and (max-width: 1200px) { .menu-wrap { padding-top: 15px; } }
.menu-wrap .menu-button { display: none; cursor: pointer; width: 33px; height: 24px; position: absolute; top: 50%; margin-top: -12px; right: 20px; transition: 0.3s all ease; }
@media only screen and (max-width: 1000px) { .menu-wrap .menu-button { display: block; } }
.menu-wrap .menu-button__bg { position: absolute; background: #fff; width: 33px; height: 3px; border-radius: 5px; left: 0; display: block; }
.menu-wrap .menu-button__bg_top { top: 0; }
.menu-wrap .menu-button__bg_mid { top: 50%; margin-top: -1.5px; }
.menu-wrap .menu-button__bg_bot { bottom: 0; }
.menu-wrap .menu-button.menu-active { width: 14px; height: 14px; top: 19px; background: url(../img/close.png) center/cover no-repeat; z-index: 10001; }
.menu-wrap .menu-button.menu-active .menu-button__bg { display: none; }
@media only screen and (max-width: 1000px) { .menu-wrap .main-menu { display: none; background: #fff; padding: 45px 10px 20px; position: absolute; top: -15px; left: 0; width: 100%; z-index: 10000; }
  .menu-wrap .main-menu .point-active { display: block; } }
@media only screen and (min-width: 1000px) { .menu-wrap .main-menu .point:hover ul { display: block; } }
.menu-wrap .main-menu > li { list-style: none; font-size: 14px; position: relative; display: inline-block; }
@media only screen and (max-width: 1000px) { .menu-wrap .main-menu > li { display: none; }
  .menu-wrap .main-menu > li.point-active { display: block; } }
.menu-wrap .main-menu > li:hover > ul { display: block; }
.menu-wrap .main-menu > li > a { font-size: 18px; color: #fff; display: block; line-height: 28px; padding: 5px 25px; position: relative; font-family: "SegoeUIRegular"; border-bottom: 1px solid transparent; }
@media only screen and (max-width: 1000px) { .menu-wrap .main-menu > li > a { display: none; } }
.menu-wrap .main-menu > li ul { font-family: "SegoeUISemiBold"; display: none; position: absolute; left: 25px; top: 100%; background: #fff; padding: 0 25px 10px; width: 310px; z-index: 10003; }
@media only screen and (max-width: 1000px) { .menu-wrap .main-menu > li ul { display: block; left: 0; position: relative; width: 100%; } }
@media only screen and (max-width: 400px) { .menu-wrap .main-menu > li ul { left: 0; right: 0; width: 100%; } }
.menu-wrap .main-menu > li ul li { list-style: none; width: 100%; }
.menu-wrap .main-menu > li ul li a { color: #282828; display: block; line-height: 23px; }
.menu-wrap .main-menu > li ul li a span { font-size: 16px; padding: 10px 0 3px; color: #673a90; display: block; }
.menu-wrap .main-menu > li ul li a:hover { color: #673a90; }
.menu-wrap .main-menu > li:first-child { display: none; }
@media only screen and (max-width: 1000px) { .menu-wrap .main-menu > li:first-child { display: block; } }
.menu-wrap .main-menu > li:first-child li { display: inline-block; width: auto; }
.menu-wrap .main-menu > li:first-child li a { font-family: "SegoeUIBold"; font-size: 16px; color: #282828; display: inline-block; padding: 0px 0 10px; margin: 0 8px 4px; border-bottom: 1px solid transparent; }
.menu-wrap .main-menu > li:first-child .mobile-nav-active { border-color: #828282; }

.aero-top { overflow: hidden; position: relative; }
.aero-top__bg { text-transform: uppercase; color: rgba(152, 152, 152, 0.04); font-size: 195px; font-family: "SegoeUIBold"; display: block; position: absolute; top: 50%; left: 17%; z-index: 400; letter-spacing: 20px; }
@media only screen and (max-width: 1200px) { .aero-top__bg { display: none; } }
.aero-top .container { position: relative; }

.aero-top__content { padding: 50px 0 140px 15px; margin-left: 335px; }
.aero-top__content h2 { text-transform: none !important; }
.aero-top__content .content__title_mobile { display: none; }
@media only screen and (max-width: 1200px) { .aero-top__content { margin-left: 0; padding: 50px 0 50px; }
  .aero-top__content .content__title_decstop { display: none; }
  .aero-top__content .content__title_mobile { display: block; } }
@media only screen and (max-width: 600px) { .aero-top__content { padding: 30px 0 0px; } }
.aero-top__content .content__descr { color: #282828; font-size: 16px; display: block; padding-bottom: 45px; }
@media only screen and (max-width: 600px) { .aero-top__content .content__descr { font-size: 14px; padding-bottom: 20px; } }
.aero-top__content .content__img-wrap { z-index: 500; float: left; width: 50%; max-width: 445px; margin-bottom: 25px; }
@media only screen and (max-width: 600px) { .aero-top__content .content__img-wrap { width: 100%; float: none; height: auto; max-width: none; } }
.aero-top__content .content__img { width: 100%; height: auto; min-height: 100%; display: block; }
.aero-top__content .content__text-wrap { width: 50%; padding-left: 35px; float: left; margin-bottom: 20px; }
@media only screen and (max-width: 600px) { .aero-top__content .content__text-wrap { width: 100%; float: none; padding-left: 0; } }
.aero-top__content .content__text { color: #282828; font-size: 16px; padding-bottom: 20px; line-height: 22px; font-family: "SegoeUIRegular"; }
@media only screen and (max-width: 600px) { .aero-top__content .content__text { font-size: 14px; }
  .aero-top__content .content__text_last { display: none; } }

.aero-sidebar { position: relative; z-index: 10; }
.aero-sidebar::before { content: ""; display: none; -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3); box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3); width: 1000vw; height: 2px; position: absolute; bottom: 0px; left: -30%; z-index: 9; }
@media only screen and (min-width: 1200px) { .aero-sidebar { left: 15px; top: 0; bottom: 0; width: 270px; position: absolute; padding: 10px 40px 10px 0; } }
@media only screen and (max-width: 1200px) and (min-width: 1000px) { .aero-sidebar::before { display: block; } }
.aero-sidebar > ul { font-family: "SegoeUISemiBold"; font-size: 16px; }
@media only screen and (max-width: 1200px) { .aero-sidebar > ul { padding: 5px 0; } }
@media only screen and (max-width: 1000px) { .aero-sidebar > ul { display: none; } }
.aero-sidebar > ul > li { position: relative; }
@media only screen and (max-width: 1200px) { .aero-sidebar > ul > li { display: inline-block; border-left: 1px solid #cacaca; }
  .aero-sidebar > ul > li:first-child { border: none; }
  .aero-sidebar > ul > li:hover ul { display: block; z-index: 100; } }
.aero-sidebar > ul > li a { color: #282828; line-height: 18px; padding: 4px 0; display: block; }
@media only screen and (max-width: 1200px) { .aero-sidebar > ul > li a { padding: 6px 0; } }
.aero-sidebar > ul > li > a { padding: 25px 0 10px; font-size: 18px; color: #673a90; }
@media only screen and (max-width: 1200px) { .aero-sidebar > ul > li > a { padding: 10px 23px; } }
.aero-sidebar > ul > li ul { background: #fff; }
@media only screen and (max-width: 1200px) { .aero-sidebar > ul > li ul { display: none; position: absolute; left: 2px; right: 2px; top: 100%; padding: 10px 28px 15px; } }

.top-text .container { padding: 170px 15px 220px; position: relative; }
.top-text__title { font-family: "SegoeUIBold"; font-size: 54px; line-height: 66px; color: #fff; }
@media only screen and (max-width: 1200px) { .top-text__title { text-align: center; } }
@media only screen and (max-width: 550px) { .top-text__title { font-size: 31px; line-height: 35px; } }
.top-text__command { display: block; padding-bottom: 30px; color: #fff; font-size: 18px; text-transform: uppercase; font-family: "SegoeUIRegular"; }
@media only screen and (max-width: 1200px) { .top-text__command { text-align: center; } }
@media only screen and (max-width: 550px) { .top-text__command { font-size: 14px; padding-bottom: 10px; } }
.top-text__command i { color: #9852d8; }
.top-text .scroll-icon { display: block; font-size: 13px; position: absolute; left: 15px; bottom: 40px; color: rgba(255, 255, 255, 0.5); padding: 5px 0 5px 30px; background: url(../img/scroll_ic.png) 0 0 no-repeat; }
@media only screen and (max-width: 1200px) { .top-text .scroll-icon { display: none; } }

.video { padding: 100px 0 130px; background: url(../img/video-bg.jpg) center/cover; }
@media only screen and (max-width: 1050px) { .video { padding: 65px 0 55px; } }
@media only screen and (max-width: 550px) { .video { padding: 30px 0 15px; } }
.video__block { margin: 0 auto 25px; max-width: 880px; width: 100%; height: 490px; }
@media only screen and (max-width: 550px) { .video__block { height: 170px; } }
.video__block iframe { width: 100%; display: block; height: 100%; }

.fancybox-opened, .fancybox-wrap { width: 90% !important; max-width: 870px; left: 5%; }

.fancybox-inner { width: 100% !important; }

.fancybox-skin { padding: 0 !important; }

.fancybox-close { background: url(../img/close.png); width: 14px; height: 14px; top: 19px; right: 19px; }

.modal { display: none; font-family: "SegoeUIRegular", arial, sans-serif; max-width: 870px; width: 100%; margin: 0 auto; background-color: #fff; }

.modal__thanks { padding: 200px 0 155px; background: #fff url(../img/popup-star.png) center 125px no-repeat; }
@media only screen and (max-width: 800px) { .modal__thanks { padding: 120px 0 50px; background-position: center 75px; } }
.modal__thanks h2 { text-align: center; }
.modal__thanks .modal__descr { font-size: 16px; color: #282828; display: block; text-align: center; }
@media only screen and (max-width: 500px) { .modal__thanks .modal__descr i { display: inline-block; } }

.modal__form { padding: 50px 60px; }
@media only screen and (max-width: 1000px) { .modal__form { padding: 10px 15px 20px; } }
.modal__form .modal__in { position: relative; float: left; }
.modal__form .modal__in_left { padding-right: 60px; width: 420px; }
@media only screen and (max-width: 1000px) { .modal__form .modal__in_left { float: none; padding: 0; margin: 0 auto; }
  .modal__form .modal__in_left::before { display: none; } }
@media only screen and (max-width: 500px) { .modal__form .modal__in_left { margin: 0; width: 100%; max-width: 420px; } }
.modal__form .modal__in_left::before { content: ""; position: absolute; top: 3px; bottom: 0; right: 0; width: 1px; height: 100%; background: #673a90; }
.modal__form .modal__in_right { width: 270px; float: right; padding: 65px 0 85px 10px; border-bottom: 1px solid #bbb; }
@media only screen and (max-width: 1000px) { .modal__form .modal__in_right { float: none; margin: 0 auto; padding: 0 0 10px; border-top: 1px solid #bbb; max-width: 355px; width: 100%; text-align: center; } }
@media only screen and (max-width: 500px) { .modal__form .modal__in_right { margin: 0; } }
@media only screen and (max-width: 400px) { .modal__form .modal__in_right { text-align: left; width: 200px; } }
.modal__form .modal__in-descr { text-transform: uppercase; display: block; font-size: 12px; color: #282828; }
@media only screen and (max-width: 1000px) { .modal__form .modal__in-descr { padding-top: 9px; display: inline-block; font-size: 9px; } }
.modal__form .modal__in-descr_last { border-bottom: 1px solid #bbb; padding-bottom: 9px; margin-bottom: 70px; }
@media only screen and (max-width: 1000px) { .modal__form .modal__in-descr_last { margin-bottom: 15px; border: none; padding-top: 0; display: block; } }
.modal__form .info__title { text-transform: uppercase; font-size: 12px; color: #282828; display: block; padding-bottom: 8px; }
@media only screen and (max-width: 1000px) { .modal__form .info__title { font-size: 9px; padding-bottom: 0; } }
.modal__form .info__number { display: block; font-size: 24px; color: #282828; padding-bottom: 20px; font-family: "SegoeUIRegular"; }
@media only screen and (max-width: 1000px) { .modal__form .info__number { font-size: 17px; } }
.modal__form h2 { text-transform: none; font-size: 18px; padding-bottom: 35px; text-align: left; padding-top: 0; line-height: 1.3; margin: 0 auto; max-width: 355px; }
.modal__form .theme__rosa__form-block { display: block; }
.modal__form .input { display: block; margin-bottom: 25px; }
@media only screen and (max-width: 1000px) { .modal__form .input { margin: 0 auto 16px; } }
.modal__form .input input { font-family: "SegoeUIRegular"; }
.modal__form .input textarea { resize: none; width: 100%; height: 125px; padding: 10px 20px; border-color: #a2a2a2; outline: none; }
.modal__form .input textarea:focus { border-color: #000; }
.modal__form .button { margin: 7px 0; }
@media only screen and (max-width: 1000px) { .modal__form .button { margin: 0 0 30px; } }

.contact { padding: 60px 0; font-family: "SegoeUISemiBold"; }
@media only screen and (max-width: 500px) { .contact { padding: 30px 0 20px; } }
.contact h2 { text-transform: none; }
@media only screen and (max-width: 500px) { .contact h2 { text-align: left; padding-left: 10px; padding-top: 0; padding-bottom: 20px; } }
.contact__inner { position: relative; }
.contact__mape { width: 100%; max-width: 650px; overflow: hidden; }
.contact__mape_mini { display: none; }
@media only screen and (max-width: 500px) { .contact__mape { height: 195px; }
  .contact__mape_max { display: none; }
  .contact__mape_mini { display: block; } }
.contact .info { position: absolute; left: 600px; top: 68px; z-index: 1000; padding: 50px 20px 45px 48px; background: #fff; max-width: 375px; width: 100%; color: #333; font-size: 16px; -webkit-box-shadow: 15px 15px 28px 0px rgba(0, 0, 0, 0.13); -moz-box-shadow: 15px 15px 28px 0px rgba(0, 0, 0, 0.13); box-shadow: 15px 15px 28px 0px rgba(0, 0, 0, 0.13); }
@media only screen and (max-width: 1100px) { .contact .info { left: 540px; } }
@media only screen and (max-width: 1000px) { .contact .info { position: relative; left: 0; top: 0; box-shadow: none; } }
@media only screen and (max-width: 500px) { .contact .info { padding: 10px 10px 30px 10px; } }
.contact .info__text { display: block; }
.contact .info__text_title { padding-bottom: 20px; }
@media only screen and (max-width: 500px) { .contact .info__text_title { padding-bottom: 10px; } }
.contact .info__text_time { padding-bottom: 32px; }
.contact .info__text_number { color: #673a90; font-size: 20px; padding-bottom: 7px; }
.contact .info__text_mail { padding-bottom: 30px; }
@media only screen and (max-width: 500px) { .contact .info__text_mail { padding-bottom: 0px; } }

.our { padding: 90px 0; }
@media only screen and (max-width: 1200px) { .our { padding: 50px 0; } }

.customer { text-align: center; }
.customer__logo { display: inline-block; margin: 8px 18px; height: 60px; text-align: center; }
@media only screen and (max-width: 500px) { .customer__logo { margin: 0; width: 49%; padding: 0px 6px; } }
.customer__logo img { display: inline-block; vertical-align: middle; max-width: 100%; height: auto; }
>>>>>>> aa1ce759bbf84d584d2dfa9723473503a3ca290b
