.services__wrap{
	width: 100%;
	background:url(../img/b1.jpg) no-repeat top center;
	background-size:cover;
	padding: 60px 0px 74px; 
}
.br{
	display: none;
	@media only screen and (min-width : 992px) {
		display: block;
	}
}
.services__view{
	margin-bottom: 30px;
	background-color: rgba(5, 43, 91, 0.67);
	border-radius: 6px;
	height: 214px;
	padding-top: 24px;
	padding-left: 26px;
	@media only screen and (min-width : 992px) {
		height: 167px;
	}
	&_first{
		padding-bottom: 29px;
		@media only screen and (min-width : 992px) {
			height: 190px;
		}
	}
}
.services__item{
	p{
		color:#fff;
		font-size: 16px;
		line-height: 22px;
		padding-bottom: 29px;
		padding-right: 5px;
	}
}
.h2_white_pb{
	padding-bottom: 66px;
}
.about__wrap{
	width: 100%;
	background:url(../img/bg2.jpg) no-repeat top center;
	background-size:cover;
	padding-bottom: 20px;
	.h2{
		padding: 40px 0px 54px;
	}
}
.about__view{
	border-radius: 8px;
	padding: 23px 13px; 
	min-height: 186px;
	margin-bottom: 22px;
	.button__view{
		margin-top: 15px;
		span{
			color:#fff;
			font-size: 16px;
			padding-left: 11px;
			line-height: 52px;
		}
	}
	@media only screen and (min-width : 768px) {
		min-height: 227px;
	}
	@media only screen and (min-width : 992px) {
		min-height: 240px;
		padding-left: 31px;
	}
	@media only screen and (min-width : 1240px) {
		min-height: 194px;
	}
	span{
		display: inline-block;
		font-size: 17px;
		color: #3e3e3e;
		line-height: 25px;
		padding-left: 40px;
		@media only screen and (min-width : 768px) {
			font-size: 20px;
		}
		@media only screen and (min-width : 992px) {
			padding-left: 56px;
		}
	}
	p{
		color: #555454;
		font-size: 14px;
		line-height: 24px;
		@media only screen and (min-width : 768px) {
			padding-left: 41px;
		}
		@media only screen and (min-width : 992px) {
			padding-right: 62px;
			padding-left: 57px;
		}
	}
	&_1{
		background-color: #e5e5e5;
		span{
			background:url(../img/m1m.png) no-repeat left center;
			@media only screen and (min-width : 992px) {
				background:url(../img/m1.png) no-repeat left center;
				height: 43px;
			}
		}
	}
	&_2{
		border: 4px solid #d9d9d9;
		background: #F1F1F1;
		span{
			background:url(../img/m2m.png) no-repeat left center;
			@media only screen and (min-width : 992px) {
				background:url(../img/m2.png) no-repeat left center;
				height: 43px;
				padding-left: 65px;
			}
		}
		@media only screen and (min-width : 992px) {
			padding-left: 19px;
			p{
				padding-left: 66px;
			}
		}
	}
	&_3{
		background:url(../img/m4.png) no-repeat top center;
		background-size:cover;
		margin-top: 21px;
		height: 468px;
		padding-left: 48px;
		padding-top: 41px;
		p{
			color:#fff;
			font-size: 21px;
			line-height: 34px;
			padding-left: 4px;
		}
		@media only screen and (min-width : 992px) {
			height: 372px;
		}
		@media only screen and (min-width : 1240px) {
			height: 324px;
		}
	}
	&_4{
		background-color: white;
		border: 3px solid #395e8e;
		border-radius: 0;
		position: relative;
		@media only screen and (min-width : 768px) {
			margin-top: 43px;
			p{
				padding-left: 6px;
			}
		}
		.str{
			position: absolute;
			top:-20px;
			left:50%;
			transform: translateX(-50%);
			@media only screen and (min-width : 768px) {
				display: none;
			}	
		}
		.str2{
			display: none;
			top:-26px;
			left: 7px;
			@media only screen and (min-width : 768px) {
				display: block;
			}	
		}
	}
	&_p{
		@media only screen and (min-width : 768px) {
			padding-bottom: 35px;
		}
	}
	&_txt{
		@media only screen and (min-width : 768px) {
			padding-right: 6px !important;
		}
	}
}
.last__wrap{
	background:#fff;
	padding-top: 62px;
	.h2{
		padding-bottom: 49px;
		display: inline-block;
	}
}
.news-box__view{
	background: #eff3f4;
	border-radius: 8px;
	padding: 17px 17px 17px 28px;
	margin-bottom: 20px;
	@media only screen and (min-width : 1240px) {
		height: 138px;
		padding: 11px 17px 11px 28px;
	}
	span{
		display: inline-block;
		background:url(../img/kal.png) no-repeat left center;
		padding-left: 29px;
		color: #747577;
		font-size: 14px;
		line-height: 24px;
	}
}
.news-box__link{
	&_1{
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-decoration: underline;
		color: #36475d;
	}
	&_2{
		font-size: 15px;
		text-decoration: underline;
		color: #eea200;
	}
}
.news-box__play{
	cursor: pointer;
	max-width: 592px;
	margin: 0 auto;
	&_wrap{
		@media only screen and (min-width : 320px) {
			width: 292px;
			margin: 0 auto;
		}
		@media only screen and (min-width : 768px) {
			width: unset;
		}
	}
	@media only screen and (min-width : 1240px) {
		max-width: unset;
	}
	span{
		color: #393f41;
		font-size: 19px;
	}
	p{
		color: #727475;
		font-size: 16px;
		font-style: italic;
		padding-bottom: 15px;
	}
	&_item{
		width: 142px;
		margin: 0 auto;
		position: relative;
		@media only screen and (min-width : 320px) {
			display: inline-block;
		}
		@media only screen and (min-width : 768px) {
			width: 193px;
		}
		@media only screen and (min-width : 992px) {
			width: 227px;
			&_last{
				display: none;
			}
		}
		@media only screen and (min-width : 1240px) {
			width: 193px;
			margin-left: 21px;
			margin-top: 13px;
			&_last{
				display: inline-block;
			}
		}
	}
	&_ico{
		position: absolute;
		right: 8px;
		top: 8px;
		display: none;
		&_2{
			display: block;
		}
		@media only screen and (min-width : 768px) {
			display: block;
			&_2{
				display: none;
			}
		}
	}
	&_img{
		img{
			width: 100%;
		}
	}
}
.service-wrap{
	.h2{
		padding: 62px 0px 34px;
	}

}
.relative{
	position: relative;
	.order_curcle_innerpage{
		position: absolute;
		right: 0;
		top:-56px;
	}
}
.service-box__view{
	border: 4px solid #efefef;
	border-radius: 8px;
	padding: 35px 5px 0px;
	margin-bottom: 69px;
	&_ul{
		margin-bottom: 50px;
		li{
			margin-bottom: 10px;
		}
	}
	&_garant{
		position: relative;
		margin-bottom: 45px;
		.strv{
			position: absolute;
			left: 26px;
		}
	}
	&_garant_2{
		border: none;
		padding-top: 0 !important;
	}
	@media only screen and (min-width : 992px) {
		padding: 35px 19px 0px 40px;
		background:url(../img/el.png) no-repeat right -127px bottom -46px;
		&_garant{
			background:url(../img/med2.png) no-repeat right -66px bottom -12px;
		}
		&_garant_2{
			background:none;
		}
	}
	&_span{
		display: inline-block;
		font-family: "GothamProMedium";
		font-size: 18px;
		font-weight: 500;
		color: #484e4c;
		margin-bottom: 40px;
		background:url(../img/sh.png) no-repeat left center;
		padding-left: 50px;
		height: 30px;
		&_2{
			background:url(../img/med.png) no-repeat left center;
			height: 32px;
		}
		&_3{
			background:url(../img/sp.png) no-repeat left center;
			height: 32px;
		}
	}
	&_p{
		margin-bottom: 38px;
	}
	.q{
		background:none;
		padding: 0;
		color: #5e6261;
		font-style: italic;
		font-size: 16px;
	}
	&_ul{
		li{
			span{
				display: inline-block;
				padding-left: 25px;
				background:url(../img/yellow-circle.png) no-repeat left top 8px;
			}
		}
	}
}
@media only screen and (min-width : 480px) {
	.service__item{
		float: left;
		&_1{
			width: 8%;
			padding-top: 10px;
			@media only screen and (min-width : 992px) {
				width: 4%;
			}
		}
		&_2{
			width: 92%;
			@media only screen and (min-width : 992px) {
				width: 96%;
			}
		}
	}
}
.service-box__inner{
	@media only screen and (min-width : 992px) {
		padding-left: 50px;
	}
}
.but__wrap{
	text-align: center;
	padding-top: 15px;
}
.form__wrap{
	margin-bottom: 53px;
}
.form__title{
	text-align: center;
	padding-bottom: 30px;
	.h2{
		padding: 0;
	}
	span{
		color: #737876;
		font-size: 21px;
	}
}
.ol_theme_rosa{
	list-style-type: none;
	counter-reset: num;
}
.ol_color{
	color: #484e4c;
}
.ol_theme_rosa__li{
	position: relative;
	min-height: 50px;
	padding-left: 36px;
	margin-bottom: 10px;
}
.ol_theme_rosa__li:before{
	content: '' counter(num); /* Выводим число */
    counter-increment: num; /* Увеличиваем значение счётчика */
    color:#fff;	
    display: inline-block;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    background-color: #f2b600;
    text-align: center;
    line-height: 19px;
    position: absolute;
    left: 2px;
    top:6px;
    font-size: 12px;
}
.ol_theme_rosa__li_last{
	position: relative;
	padding-top: 14px;
}
@media only screen and (min-width : 992px) {
	.ol_theme_rosa__li{
		margin-bottom: 26px;
	}
	.ol_theme_rosa__li_last{
		position: relative;
		padding-top: 14px;
	}
}
.konveer__item{
	&_right{
		border: 3px solid rgba(0, 0, 0, 0.07);
		border-radius: 8px;
		img{
			margin: 0 auto;
		}
	}
	&_left{
		ul{
			padding-top: 35px;
			li{
				span{
					display: inline-block;
					background:url(../img/yellow-circle.png) no-repeat left top 9px;
					padding-left: 24px;
				}
			}
		}
	}
	@media only screen and (min-width : 768px) {
		&_right{
			width: 37%;
			float: right;
		}
		&_left{
			width: 63%;
			float: left;
		}
	}
}
.konveer__tth{
	margin-bottom: 44px;
	&_span{
		color: #393f41;
		font-family: "GothamProMedium";
		font-size: 18px;
		display: inline-block;
		margin-bottom: 31px;
		margin-top: 15px;
	}
	&_box{
		text-align: center;
		padding: 14px 27px;
		&_left{
			background:#F0F0F0;
			span{
				color: #393f41;
				font-size: 16px;
				font-family: "GothamProMedium";
			}
			@media only screen and (min-width : 768px) {
				width: 80%;
				float: left;
				text-align: left;
			}
		}
		&_right{
			@media only screen and (min-width : 768px) {
				width: 20%;
				float: right;
				background:#F0F0F0;
				text-align: right;
			}
		}
		@media only screen and (min-width : 768px) {
			&_grey{
				background:#F0F0F0 !important;
			}
			&_white{
				background:#fff !important;
			}
		}
	}
	&_p{
		padding-top: 42px;
	}
}
.gif_1, .gif_2, .gif_3, .gif_4, .gif_5, .gif_6{
	display: none;
}
.it1, .it2, .it3, .it4, .it5, .it6{
	overflow: hidden;
}
.it1:hover{
	.img_1{
		display: none;
	}
	.news-box__play_ico_2, .news-box__play_ico{
		display: none;
	}
	.gif_1{
		display: block;
	}
}
.it2:hover{
	.img_2{
		display: none;
	}
	.news-box__play_ico_2, .news-box__play_ico{
		display: none;
	}
	.gif_2{
		display: block;
	}
}
.it3:hover{
	.img_3{
		display: none;
	}
	.news-box__play_ico_2, .news-box__play_ico{
		display: none;
	}
	.gif_3{
		display: block;
	}
}
.it4:hover{
	.img_4{
		display: none;
	}
	.news-box__play_ico_2, .news-box__play_ico{
		display: none;
	}
	.gif_4{
		display: block;
	}
}
.it5:hover{
	.img_5{
		display: none;
	}
	.news-box__play_ico_2, .news-box__play_ico{
		display: none;
	}
	.gif_5{
		display: block;
	}
}
.it6:hover{
	.img_6{
		display: none;
	}
	.news-box__play_ico_2, .news-box__play_ico{
		display: none;
	}
	.gif_6{
		display: block;
	}
}

/* header-top
===============================*/
.menu_xs__wrap{
	background:#292C2E;
}
.menu_xs__item_top{
	max-width: 340px;
	margin: 0 auto;
	text-align: center;
	padding: 11px 0px;
}
.menu_xs__item_tel{
	color:#fff;
	font-family: "GothamProBold";
	font-size: 17px;
	display: inline-block;
	background:url(../img/telefone_ic-mini.png) no-repeat left center;
	padding-left: 25px;
	margin-right: 12px;
}
.menu_xs__item_link{
	display: inline-block;
	color: #f2b600;
	font-size: 13px;
	text-decoration: underline;
}
.menu_xs__item_middle{
	background:#F5F5F5;
	padding: 23px 15px 11px;
}
.menu_xs__item_middle_box1{
	width: 50%;
	float: left;
}
.menu_xs__item_middle_box2{
	width: 50%;
	float: right;
}
.online__mess{
	text-align: right;
	margin-top: -34px;
	a{
		display: inline-block;
		color: #dfa805;
		font-size: 14px;
		text-decoration: underline;
		background:url(../img/ordergalka2.png) no-repeat left center;
		padding-left: 20px;

	}
}
.toggle__menu{
	text-align: center;
	display: none;
}
.m_style{
	color: #1a3747;
	font-size: 15px;
	font-family: "GothamProBold";
	text-transform: uppercase;
}
.menu_xs__item_bottom{
	padding: 15px 0px;
	.address{
		text-align: center;
	}
}