body, html{
	height:100%;
}

.n-header{
	display:table-row;
	height: 1px;
}
.n-content{
	display:table-row;

}
.n-footer{
	display:table-row;
	height: 1px;

}
.n-wrapper{
	width: 100%;
	display:table;
}
.n-content-inner{
	display:table-cell;
	padding:15px;
}
.vertical-align{
	vertical-align:middle;
}
.footer_view{
	background-color: #1c1c1c;
}
.footer_padding{
	padding:20px 0;
	margin-top: 10px;
}
@media only screen and (min-width : 992px) {
	.footer_padding{
		padding:60px 0;
	}
}
.footer__caption{
	color: white;
	font-size: 16px;
	line-height: 22px;
	font-family: "SegoeUISemiBold";
	font-weight: 600;
	padding-bottom: 22px;
	padding-top: 20px;
}
.footer-menu__link{
	line-height: 24px;
	color: white;
	font-size: 16px;
	font-family: "SegoeUISemiBold";
	font-weight: 400;
}
@media only screen and (min-width : 992px) {
	.footer__caption{
		padding-top: 0;
	}
}
.socials{
	padding-top: 7px;
}
.socials-link {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 12px;
	&:last-child {
		margin-right: 0;
	}
}
.socials-vk {
	background: url(/img/vk-m.png) 0 0 no-repeat;
}
.socials-youtube {
	background: url(/img/youtube-m.png) 0 0 no-repeat;
}
.socials-insta {
	background: url(/img/insta-m.png) 0 0 no-repeat;
}
@media screen and (min-width: 992px) {
	.socials-link {
		width: 35px;
		height: 35px;
		margin-right: 14px;
		&:last-child {
			margin-right: 0;
		}
	}
	.socials-vk {
		background: url(/img/vk-icon.png) 0 0 no-repeat;
	}
	.socials-youtube {
		background: url(/img/youtube-icon.png) 0 0 no-repeat;
	}
	.socials-insta {
		background: url(/img/insta-icon.png) 0 0 no-repeat;
	}
}
@media screen and (min-width: 1248px) {
	.socials-link {
		width: 40px;
		height: 40px;
		margin-right: 14px;
		&:last-child {
			margin-right: 0;
		}
	}
	.socials-vk {
		background: url(/img/vk-big.png) 0 0 no-repeat;
	}
	.socials-youtube {
		background: url(/img/youtube-big.png) 0 0 no-repeat;
	}
	.socials-insta {
		background: url(/img/insta-big.png) 0 0 no-repeat;
	}
}

.footer__contacts{
	font-weight: 400;
	line-height: 24px;
	color:#fff;
	font-family: "SegoeUISemiBold";
	padding-bottom: 15px;
	span{
		font-size: 18px;
	}
}
.button {
	text-decoration: none;
	display: inline-block;
	outline: none;
	border: none;
	cursor: pointer;
}

.button_theme_rosa{
	font-family: "SegoeUIRegular";
	border: none;
	outline: none;	
	border-radius: 25px;
	color: white;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	background-color: #673a90;
	padding: 8px 24px 10px 24px;
	transition: background 0.5s;
	&:hover{
		background: darken(#673a90, 10%);
	}
}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

