body, html{
	height:100%;
}

.n-header{
	display:table-row;
	height: 1px;
}
.n-content{
	display:table-row;

}
.n-footer{
	display:table-row;
	height: 1px;

}
.n-wrapper{
	width: 100%;
	display:table;
}
.n-content-inner{
	display:table-cell;
	padding:15px;
}
.vertical-align{
	vertical-align:middle;
}

.socials-wrapper {
	max-width: 160px;
	width: 100%;
	display: inline-block; }

	.socials-inner {
		max-width: 90px; }
		@media only screen and (min-width: 1024px) {
			.socials-inner {
				max-width: 160px; } }

				.wearesocials {
					color: white;
					font-family: "GothamProRegular";
					font-size: 15px;
					font-weight: 400;
					line-height: 28px;
					display: block;
					margin-bottom: 12px; }

					.socials-link {
						background: #fff;
						width: 34px;
						height: 34px;
						text-align: center;
						display: inline-block;
						font-size: 18px;
						margin-right: 1.5px; }
						.socials-link i {
							color: #34393b;
							padding-top: 9px; }

/*# sourceMappingURL=socials.css.map */

.address {
	font-family: "GothamProRegular", arial, sans-serif ;
	margin: 0 auto;
	line-height: 1.3;
	width: 230px;
	&__info{
		font-size: 16px;
		color: #2f4c5b;
		display: block;
		padding: 0 0 10px 27px;
		background: url(../img/address__info-ic.png) 0 2px no-repeat;
	}
	&__mail-title{
		color: #ee0000;
		font-size: 14px;
		display: block;
		padding: 0 0 4px 27px;
		font-family: "GothamProMedium", arial, sans-serif ;
	}
	&__mail-link{
		color: #196690;
		font-size: 14px;
		display: block;
		padding: 0 0 4px 27px;
	}
	&__footer{
		.address__mail-link,
		.address__info{
			color: #fff;
		}
	}
	@media only screen and (max-width : 700px) {
		width: 200px;
		&__info{
			font-size: 14px;
			text-align: center;
			padding: 0 0 10px 25px;
		}
		&__mail-title{
			font-size: 13px;
			text-align: center;
		}
		&__mail-link{
			text-align: center;
		}
	}
}
.telefone {
	font-family: "GothamProBold", arial, sans-serif ;
	color: white;
	font-size: 23px;
	line-height: 1.3;
	margin-bottom: 10px;
	display: block;
	background: url(../img/telefone_ic.png) 0 2px no-repeat;
	&_padding{
		padding-left: 40px;
	}
	@media only screen and (max-width : 1248px) {
		margin-bottom: 0;
		color: #fff;
		display: inline-block;
		&_footer{
			font-size: 23px;
		}
	}
}

.footer-phone{
	&__link{
		color: #f2b600;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		border-bottom: 1px solid #f2b600;
		padding-bottom: 1px;
		float:right;
	}
}

.footer-top_view{
	background: #34393b;
}
.footer-top_padding{
	padding: 20px 0;
}
.footer-bottom_view{
	background: #292b2c;
	color:white;
}
.footer-bottom_padding{
	padding: 10px 0;
}
.footer-menu{
	@media only screen and (min-width : 720px) {
		.footer-menu__one{
			float:left;
			padding-right: 54px;
		}
		.footer-menu__two{
			float:left;
		}
	}
	&__link{
		color: white;
		font-size: 15px;
		font-weight: 400;
		line-height: 28px;
		text-decoration: underline;
		&:hover{
			color: #f2b600;
		}
	}
}