@charset "UTF-8";
.services__wrap {
  width: 100%;
  background: url(../img/b1.jpg) no-repeat top center;
  background-size: cover;
  padding: 48px 0px 46px; }

.br {
  display: none; }
  @media only screen and (min-width: 992px) {
    .br {
      display: block; } }

.services__view {
  margin-bottom: 30px;
  background-color: rgba(5, 43, 91, 0.67);
  -webkit-border-radius: 6px;
          border-radius: 6px;
  height: 214px;
  padding-top: 24px;
  padding-left: 26px; }
  @media only screen and (min-width: 992px) {
    .services__view {
      height: 167px; } }
  .services__view_first {
    padding-bottom: 29px; }
    @media only screen and (min-width: 992px) {
      .services__view_first {
        height: 190px; } }

.services__item p {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 29px;
  padding-right: 5px; }

.h2_white_pb {
  padding-bottom: 66px; }

.about__wrap {
  width: 100%;
  background: url(../img/bg2.jpg) no-repeat top center;
  background-size: cover;
  padding-bottom: 34px; }
  .about__wrap .h2 {
    padding: 27px 0px 54px; }

.about__view {
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 23px 13px;
  min-height: 186px;
  margin-bottom: 22px; }
  .about__view .button__view {
    margin-top: 15px; }
    .about__view .button__view span {
      color: #fff;
      font-size: 16px;
      padding-left: 11px;
      line-height: 52px; }
  @media only screen and (min-width: 768px) {
    .about__view {
      min-height: 227px; } }
  @media only screen and (min-width: 992px) {
    .about__view {
      min-height: 240px;
      padding-left: 31px; } }
  @media only screen and (min-width: 1240px) {
    .about__view {
      min-height: 194px; } }
  .about__view span {
    display: inline-block;
    font-size: 17px;
    color: #3e3e3e;
    line-height: 25px;
    padding-left: 40px; }
    @media only screen and (min-width: 768px) {
      .about__view span {
        font-size: 20px; } }
    @media only screen and (min-width: 992px) {
      .about__view span {
        padding-left: 56px; } }
  .about__view p {
    color: #555454;
    font-size: 14px;
    line-height: 24px; }
    @media only screen and (min-width: 768px) {
      .about__view p {
        padding-left: 41px; } }
    @media only screen and (min-width: 992px) {
      .about__view p {
        padding-right: 62px;
        padding-left: 57px; } }
  .about__view_1 {
    background-color: #e5e5e5; }
    .about__view_1 span {
      background: url(../img/m1m.png) no-repeat left center; }
      @media only screen and (min-width: 992px) {
        .about__view_1 span {
          background: url(../img/m1.png) no-repeat left center;
          height: 43px; } }
  .about__view_2 {
    border: 4px solid #d9d9d9;
    background: #F1F1F1; }
    .about__view_2 span {
      background: url(../img/m2m.png) no-repeat left center; }
      @media only screen and (min-width: 992px) {
        .about__view_2 span {
          background: url(../img/m2.png) no-repeat left center;
          height: 43px;
          padding-left: 65px; } }
    @media only screen and (min-width: 992px) {
      .about__view_2 {
        padding-left: 19px; }
        .about__view_2 p {
          padding-left: 66px; } }
  .about__view_3 {
    background: url(../img/m4.png) no-repeat top center;
    background-size: cover;
    margin-top: 21px;
    height: 468px;
    padding-left: 48px;
    padding-top: 41px; }
    .about__view_3 p {
      color: #fff;
      font-size: 21px;
      line-height: 34px;
      padding-left: 4px; }
    @media only screen and (min-width: 992px) {
      .about__view_3 {
        height: 372px; } }
    @media only screen and (min-width: 1240px) {
      .about__view_3 {
        height: 324px; } }
  .about__view_4 {
    background-color: white;
    border: 3px solid #395e8e;
    -webkit-border-radius: 0;
            border-radius: 0;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .about__view_4 {
        margin-top: 43px; }
        .about__view_4 p {
          padding-left: 6px; } }
    .about__view_4 .str {
      position: absolute;
      top: -20px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
      @media only screen and (min-width: 768px) {
        .about__view_4 .str {
          display: none; } }
    .about__view_4 .str2 {
      display: none;
      top: -26px;
      left: 7px; }
      @media only screen and (min-width: 768px) {
        .about__view_4 .str2 {
          display: block; } }
  @media only screen and (min-width: 768px) {
    .about__view_p {
      padding-bottom: 35px; } }
  @media only screen and (min-width: 768px) {
    .about__view_txt {
      padding-right: 6px !important; } }

.last__wrap {
  background: #fff;
  padding-top: 62px; }
  .last__wrap .h2 {
    margin-bottom: 49px;
    display: inline-block; }
    .last__wrap .h2 a {
      color: #395E8E !important;
      text-decoration: none; }
  .last__wrap .h2:hover {
    border-bottom: 1px solid #fff; }

.news-box__view {
  background: #eff3f4;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 17px 17px 17px 28px;
  margin-bottom: 20px; }
  @media only screen and (min-width: 1240px) {
    .news-box__view {
      height: 138px;
      padding: 11px 17px 11px 28px; } }
  .news-box__view span {
    display: inline-block;
    background: url(../img/kal.png) no-repeat left center;
    padding-left: 29px;
    color: #747577;
    font-size: 14px;
    line-height: 24px; }

.news-box__link_1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  color: #36475d; }

.news-box__link_2 {
  font-size: 15px;
  border-bottom: 1px solid #EFD598;
  color: #eea200; }
  .news-box__link_2:hover {
    border-bottom: 1px solid #EFF3F4; }

.news-box__play {
  cursor: pointer;
  max-width: 592px;
  margin: 0 auto; }
  @media only screen and (min-width: 320px) {
    .news-box__play_wrap {
      width: 292px;
      margin: 0 auto; } }
  @media only screen and (min-width: 768px) {
    .news-box__play_wrap {
      width: unset; } }
  @media only screen and (min-width: 1240px) {
    .news-box__play {
      max-width: unset; } }
  .news-box__play span {
    color: #393f41;
    font-size: 19px; }
  .news-box__play p {
    color: #727475;
    font-size: 16px;
    font-style: italic;
    padding-bottom: 15px; }
  .news-box__play_item {
    width: 142px;
    margin: 0 auto;
    position: relative; }
    @media only screen and (min-width: 320px) {
      .news-box__play_item {
        display: inline-block; } }
    @media only screen and (min-width: 768px) {
      .news-box__play_item {
        width: 193px; } }
    @media only screen and (min-width: 992px) {
      .news-box__play_item {
        width: 227px; }
        .news-box__play_item_last {
          display: none; } }
    @media only screen and (min-width: 1240px) {
      .news-box__play_item {
        width: 193px;
        margin-left: 21px;
        margin-top: 13px; }
        .news-box__play_item_last {
          display: inline-block; } }
  .news-box__play_ico {
    position: absolute;
    right: 8px;
    top: 8px;
    display: none; }
    .news-box__play_ico_2 {
      display: block; }
    @media only screen and (min-width: 768px) {
      .news-box__play_ico {
        display: block; }
        .news-box__play_ico_2 {
          display: none; } }
  .news-box__play_img img {
    width: 100%; }

.service-wrap .h2 {
  padding: 62px 0px 34px; }

.relative {
  position: relative; }
  .relative .order_curcle_innerpage {
    position: absolute;
    right: 0;
    top: -56px; }

.service-box__view {
  border: 4px solid #efefef;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 35px 5px 0px;
  margin-bottom: 69px; }
  .service-box__view_ul {
    margin-bottom: 50px; }
    .service-box__view_ul li {
      margin-bottom: 10px; }
  .service-box__view_garant {
    position: relative;
    margin-bottom: 45px; }
    .service-box__view_garant .strv {
      position: absolute;
      left: 26px; }
  .service-box__view_garant_2 {
    border: none;
    padding-top: 0 !important; }
  @media only screen and (min-width: 992px) {
    .service-box__view {
      padding: 35px 19px 0px 40px;
      background: url(../img/el.png) no-repeat right -127px bottom -46px; }
      .service-box__view_garant {
        background: url(../img/med2.png) no-repeat right -66px bottom -12px; }
      .service-box__view_garant_2 {
        background: none; } }
  .service-box__view_span {
    display: inline-block;
    font-family: "GothamProMedium";
    font-size: 18px;
    font-weight: 500;
    color: #484e4c;
    margin-bottom: 40px;
    background: url(../img/sh.png) no-repeat left center;
    padding-left: 50px;
    height: 30px; }
    .service-box__view_span_2 {
      background: url(../img/med.png) no-repeat left center;
      height: 32px; }
    .service-box__view_span_3 {
      background: url(../img/sp.png) no-repeat left center;
      height: 32px; }
  .service-box__view_p {
    margin-bottom: 38px; }
  .service-box__view .q {
    background: none;
    padding: 0;
    color: #5e6261;
    font-style: italic;
    font-size: 16px; }
  .service-box__view_ul li span {
    display: inline-block;
    padding-left: 25px;
    background: url(../img/yellow-circle.png) no-repeat left top 8px; }

@media only screen and (min-width: 480px) {
  .service__item {
    float: left; }
    .service__item_1 {
      width: 8%;
      padding-top: 10px; } }
    @media only screen and (min-width: 480px) and (min-width: 992px) {
      .service__item_1 {
        width: 4%; } }

@media only screen and (min-width: 480px) {
    .service__item_2 {
      width: 92%; } }
    @media only screen and (min-width: 480px) and (min-width: 992px) {
      .service__item_2 {
        width: 96%; } }

@media only screen and (min-width: 992px) {
  .service-box__inner {
    padding-left: 50px; } }

.but__wrap {
  text-align: center;
  padding-top: 15px; }

.form__wrap {
  margin-bottom: 53px; }

.form__title {
  text-align: center;
  padding-bottom: 30px; }
  .form__title .h2 {
    padding: 0; }
  .form__title span {
    color: #737876;
    font-size: 21px; }

.ol_theme_rosa {
  list-style-type: none;
  counter-reset: num; }

.ol_color {
  color: #484e4c; }

.ol_theme_rosa__li {
  position: relative;
  min-height: 50px;
  padding-left: 36px;
  margin-bottom: 10px; }

.ol_theme_rosa__li:before {
  content: "" counter(num);
  /* Выводим число */
  counter-increment: num;
  /* Увеличиваем значение счётчика */
  color: #fff;
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 19px;
  height: 19px;
  background-color: #f2b600;
  text-align: center;
  line-height: 19px;
  position: absolute;
  left: 2px;
  top: 6px;
  font-size: 12px; }

.ol_theme_rosa__li_last {
  position: relative;
  padding-top: 14px; }

@media only screen and (min-width: 992px) {
  .ol_theme_rosa__li {
    margin-bottom: 26px; }
  .ol_theme_rosa__li_last {
    position: relative;
    padding-top: 14px; } }

.konveer__item_right {
  border: 3px solid rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 8px;
          border-radius: 8px; }
  .konveer__item_right img {
    margin: 0 auto; }

.konveer__item_left ul {
  padding-top: 35px; }
  .konveer__item_left ul li span {
    display: inline-block;
    background: url(../img/yellow-circle.png) no-repeat left top 9px;
    padding-left: 24px; }

@media only screen and (min-width: 768px) {
  .konveer__item_right {
    width: 37%;
    float: right; }
  .konveer__item_left {
    width: 63%;
    float: left; } }

.konveer__tth {
  margin-bottom: 44px; }
  .konveer__tth_span {
    color: #393f41;
    font-family: "GothamProMedium";
    font-size: 18px;
    display: inline-block;
    margin-bottom: 31px;
    margin-top: 15px; }
  .konveer__tth_box {
    text-align: center;
    padding: 14px 27px; }
    .konveer__tth_box_left {
      background: #F0F0F0; }
      .konveer__tth_box_left span {
        color: #393f41;
        font-size: 16px;
        font-family: "GothamProMedium"; }
      @media only screen and (min-width: 768px) {
        .konveer__tth_box_left {
          width: 80%;
          float: left;
          text-align: left; } }
    @media only screen and (min-width: 768px) {
      .konveer__tth_box_right {
        width: 20%;
        float: right;
        background: #F0F0F0;
        text-align: right; } }
    @media only screen and (min-width: 768px) {
      .konveer__tth_box_grey {
        background: #F0F0F0 !important; }
      .konveer__tth_box_white {
        background: #fff !important; } }
  .konveer__tth_p {
    padding-top: 42px; }

.gif_1, .gif_2, .gif_3, .gif_4, .gif_5, .gif_6 {
  display: none; }

.it1, .it2, .it3, .it4, .it5, .it6 {
  overflow: hidden; }

.it1:hover .img_1 {
  display: none; }

.it1:hover .news-box__play_ico_2, .it1:hover .news-box__play_ico {
  display: none; }

.it1:hover .gif_1 {
  display: block; }

.it2:hover .img_2 {
  display: none; }

.it2:hover .news-box__play_ico_2, .it2:hover .news-box__play_ico {
  display: none; }

.it2:hover .gif_2 {
  display: block; }

.it3:hover .img_3 {
  display: none; }

.it3:hover .news-box__play_ico_2, .it3:hover .news-box__play_ico {
  display: none; }

.it3:hover .gif_3 {
  display: block; }

.it4:hover .img_4 {
  display: none; }

.it4:hover .news-box__play_ico_2, .it4:hover .news-box__play_ico {
  display: none; }

.it4:hover .gif_4 {
  display: block; }

.it5:hover .img_5 {
  display: none; }

.it5:hover .news-box__play_ico_2, .it5:hover .news-box__play_ico {
  display: none; }

.it5:hover .gif_5 {
  display: block; }

.it6:hover .img_6 {
  display: none; }

.it6:hover .news-box__play_ico_2, .it6:hover .news-box__play_ico {
  display: none; }

.it6:hover .gif_6 {
  display: block; }

/* header-top
===============================*/
.menu_xs__wrap {
  background: #292C2E; }

.menu_xs__item_top {
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
  padding: 11px 0px; }

.menu_xs__item_tel {
  color: #fff;
  font-family: "GothamProBold";
  font-size: 17px;
  display: inline-block;
  background: url(../img/telefone_ic-mini.png) no-repeat left center;
  padding-left: 25px;
  margin-right: 12px; }
  @media only screen and (min-width: 768px) {
    .menu_xs__item_tel {
      color: #2F4B5B;
      font-size: 19px;
      background: url(../img/telefone_ic.png) no-repeat left center;
      padding-left: 35px;
      margin-right: 0; } }
  @media only screen and (min-width: 992px) {
    .menu_xs__item_tel {
      font-size: 23px; } }
  @media only screen and (min-width: 1240px) {
    .menu_xs__item_tel {
      margin-top: 30px; } }

.menu_xs__item_link {
  display: inline-block;
  color: #f2b600;
  font-size: 13px;
  border-bottom: 1px solid rgba(242, 182, 0, 0.4);
  letter-spacing: 0.55px;
  line-height: 20px; }
  .menu_xs__item_link:hover {
    border-bottom-color: transparent; }
  @media only screen and (min-width: 768px) {
    .menu_xs__item_link {
      padding: 5px 0px 0px;
      margin-bottom: 10px; } }

.menu_xs__item_middle {
  background: #F5F5F5;
  padding: 23px 15px 11px; }

.menu_xs__item_middle_box1 {
  width: 50%;
  float: left; }

.menu_xs__item_middle_box2 {
  width: 50%;
  float: right; }

.online__mess {
  text-align: right;
  margin-top: -34px; }
  .online__mess a {
    display: inline-block;
    color: #dfa805;
    font-size: 14px;
    text-decoration: underline;
    background: url(../img/ordergalka2.png) no-repeat left center;
    padding-left: 20px; }

.toggle__menu {
  text-align: center;
  display: none; }

.m_style {
  color: #1a3747;
  font-size: 15px;
  font-family: "GothamProBold";
  text-transform: uppercase; }

.menu_xs__item_bottom {
  padding: 15px 0px; }
  .menu_xs__item_bottom .address {
    text-align: center; }

.menu_sm__item_tel {
  text-align: right; }

.menu_sm {
  padding-top: 20px;
  display: none;
  background: -webkit-linear-gradient(top, #f7f7f7, #f2f2f2);
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f2f2f2));
  background: linear-gradient(to bottom, #f7f7f7, #f2f2f2); }
  @media only screen and (min-width: 768px) {
    .menu_sm {
      display: block; } }
  @media only screen and (min-width: 1240px) {
    .menu_sm {
      display: none; } }

@media only screen and (min-width: 768px) {
  .menu_xs {
    display: none; } }

.menu_md {
  display: none;
  padding-top: 10px; }
  @media only screen and (min-width: 1240px) {
    .menu_md {
      display: block; } }

.menu_md__left {
  float: left; }

.menu_md__right {
  float: right; }
  .menu_md__right .address {
    margin-left: 237px;
    padding-top: 19px; }

.menu_md__right_item {
  float: left; }

.menu_md__right_item2 {
  float: right; }

@media only screen and (min-width: 1240px) {
  .search {
    width: 140px;
    position: relative; }
    .search .search-wrap {
      position: absolute;
      width: 140px;
      top: -29px; } }
