
.clear{
    clear: both;
}
.center{
	text-align: center;
}
body {
	font-family: "GothamProRegular";
	font-size: 16px;
	line-height: 29px;
}

.container{
	@media only screen and (min-width : 990px) {
		padding: 0 !important;
	}
}	
div[class="^col-md"]{
	padding: 0px;
	margin: 0px;
}