.conveyors_page{
	position: relative;
}
.conveyors_page_circle{
	position: absolute;
	top:15px;
	right:20px;
}
.conveyors__caption{
	display: inline-block;
	padding: 0px 0 40px 0;
}
.container_padding_top{
	padding-top: 55px;
}
.conveyors__share{
	margin-top: 10px;
}
.conveyors__img{
	width: 100%;
	img{
		max-width: 100%;
		height: auto;
	}
}

.conveyors__list{
	padding: 30px 43px;
	background-color: #eeeeef;
	border-radius: 8px;
	margin: 25px 0 50px 0;
}
.conveyors__list_txt{
	display: inline-block;
	li{
		color: #484e4c;		
		font-size: 16px;
		font-weight: 400;
		line-height: 41px;
		background-image: url("../img/ellips.png");
		background-repeat: no-repeat;
		background-position: left center;
		padding-left: 30px;
	}
}
.conveyors__list_txt:first-child{
	margin-right: 114px;
}

.conveyors__text{
	color: #484e4c;	
	font-size: 16px;
	font-weight: 400;
	line-height: 29px;
	margin-bottom: 35px;
}