

.button__view{
	display: inline-block;
	height: 57px;
	width: 188px;
	background-color: #f2b600;
	border-radius: 0px 28px 28px 0px;
	text-decoration: none;
	// font-family: "GothamProRegular";
	&_txt{
		color:#fff;
		font-size: 16px;
		font-family: "GothamProRegular";	
	}
}